#bodyStyleM{
    border: 6px solid rgb(161, 253, 252);
    font-size:50px;
    margin:0% 10% 0% 10%;
    font-weight:bold;
    padding:10px;
    background: rgba(249, 249, 249, 0.163);
}
#spacer{
    height: 45px;
}
#customFoot{
    height:390px;
    display:flex;
    flex-direction: column;
}
#customFootIn{
    display:flex;
    flex-direction: column;
    margin: 0px 15px;
}
#bodyStyle{
    height: 999px
    
    
}
#commentBlock{
    display:flex;
    margin-left:20%;
}
#headB{
    display:flex;
    width:100%;
}
#commenter{
    font-size:28px;
    font-weight:bold;
    padding-right:15px;
    
}
#comment{
    margin-top:10px;
}
#Martin{
    margin: 0px 0px 0px 60px;
    font-size:22px;
}
#com{
    margin: 16px 0px 5px 0px;
}