#word1 {
    font-size: 200px;
    top: -200;
    left: 200px; 
    margin: 0px;
    color: #FFD700; /* Soft Yellow */
    font-family: 'customIt';
}
@font-face {
    font-family: 'customIt';
    src: url("../_assets/Nexus.otf");
}

#word2 {
    font-size: 150px;
    top: 170px;
    left: 150px; 
    margin: 0px;
    color: #FF69B4; /* Bright Pink */
}

#word3 {
    font-size: 100px;
    top: 400px;
    left: 200px; 
    margin: 0px;
    color: #BA55D3; /* Medium Purple */
}

#word4 {
    font-size: 200px;
    top: 330px;
    left: 400px; 
    margin: 0px;
    transform: rotate(90deg);
    transform-origin: left top; 
    color: #9370DB; /* Medium Slate Blue */
}

#word5 {
    font-size: 200px;
    top: 0;
    left: 200px; 
    margin: 0px;
    transform: rotate(90deg); 
    transform-origin: left top; 
    color: #87CEFA; /* Light Sky Blue */
}
#word1, #word2, #word3, #word4, #word5 {
    position: absolute;
    transition: transform 1s ease-in-out;
}


#word1:hover, #word2:hover, #word3:hover {
    animation: scrollRight 1s linear infinite;
}



#word4 {
    font-size: 200px;
    top: 330px;
    left: 400px;
    margin: 0px;
    transform: rotate(90deg);
    transform-origin: left top;
    color: #9370DB;
}

#word5 {
    font-size: 200px;
    top: 0;
    left: 200px;
    margin: 0px;
    transform: rotate(90deg);
    transform-origin: left top;
    color: #87CEFA;
}

#word4:hover, #word5:hover {
    animation: scrollLeft 1s linear infinite;
}




#display{
    height:698px;
}
#footD{
    height:89px;
}
#displays {
    position: relative; /* Establishes a positioning context for absolutely positioned children */
    width: 100%;      /* Adjust width as needed */
    
    overflow: hidden;  /* Optional: hides overflow if text exceeds the div */
}

#displays p {
    position:absolute;
    width: 100%;       /* Make each word take full width of the div */
    text-align: center; /* Center the text horizontally */
    opacity: 0.8;      /* Optional: adjust opacity for better overlay effect */
    transition: all 0.3s; /* Smooth transition for hover effects, if needed */
}
